<mat-card appearance="outlined" class="header-card">
  <mat-card-content>Cadastro de Cliente</mat-card-content>
</mat-card>

<!-- Tabela de clientes -->
<mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <!-- Coluna ID -->
  <ng-container matColumnDef="id">
    <mat-header-cell *matHeaderCellDef> ID </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.id}} </mat-cell>
  </ng-container>

  <!-- Coluna Nome -->
  <ng-container matColumnDef="nome">
    <mat-header-cell *matHeaderCellDef> Nome </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.nome}} </mat-cell>
  </ng-container>

  <!-- Coluna Email -->
  <ng-container matColumnDef="email">
    <mat-header-cell *matHeaderCellDef> Email </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.email}} </mat-cell>
  </ng-container>

  <!-- Coluna Telefone -->
  <ng-container matColumnDef="telefone">
    <mat-header-cell *matHeaderCellDef> Telefone </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.telefone}} </mat-cell>
  </ng-container>

  <!-- Coluna Idade -->
  <ng-container matColumnDef="idade">
    <mat-header-cell *matHeaderCellDef> Idade </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.idade}} </mat-cell>
  </ng-container>

  <!-- Coluna Ativo -->
  <ng-container matColumnDef="ativo">
    <mat-header-cell *matHeaderCellDef> Ativo </mat-header-cell>
    <mat-cell *matCellDef="let cliente"> {{cliente.ativo ? 'Sim' : 'Não'}} </mat-cell>
  </ng-container>

  <!-- Coluna Ações -->
  <ng-container matColumnDef="acoes">
    <mat-header-cell *matHeaderCellDef> Ações </mat-header-cell>
    <mat-cell *matCellDef="let cliente">
      <!-- Botão de editar -->
      <button mat-stroked-button color="primary" >Editar</button>

      <!-- Botão para abrir o diálogo de criação de cliente -->
      <button mat-stroked-button color="accent" (click)="openCreateClienteDialog()">Novo</button>

      <!-- Botão de excluir -->
      <button mat-stroked-button color="warn" (click)="onDelete(cliente)">Excluir</button>
    </mat-cell>
  </ng-container>

  <!-- Cabeçalho e linhas da tabela -->
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>

<!-- Paginador -->
<mat-paginator [pageSizeOptions]="[3, 10, 25]" showFirstLastButtons></mat-paginator>

